<a href="https://colab.research.google.com/github/LIAO-JIAN-PENG/python_lecture/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 數字變數

In [ ]:
# 數字運算
2+5

7

In [ ]:
# 變數宣告及定義
x = 2
x + 5 # 運算

7

In [ ]:
# 加減乘除餘
x = 14
print("x =", x)
print("x + 2  =", x + 2)
print("x - 4  =", x - 4)
print("x * 2  =", x * 2)
print("x / 3  =", x / 3)  # 小數除法
print("x // 5 =", x // 3) # 無條件捨去
print("x % 3  =", x % 3)  # 餘數

x = 14
x + 2  = 16
x - 4  = 10
x * 2  = 28
x / 3  = 4.666666666666667
x // 5 = 4
x % 3  = 2

# 資料型態
* 整數
* 小數
* 布林值
* 字串

In [ ]:
# 資料型態
integer = 10            # 整數
float_num = 12.4        # 小數
booling = True          # 布林值
string = 'I am string.' # 字串
# string = "I am string."

In [ ]:
# 強制轉型
print(int('12'))
print(float('2.5'))
print(str(12))
print(str(12.5))

12
2.5
12
12.5

# 輸出

In [ ]:
# 輸出 print
print(2)
print(2.0)
print("output")
print(True)

2
2.0
output
True

In [ ]:
# 輸出方式
fruit = 'apple'
print('A is ' + fruit)  # 接上去
print('num is ' + str(2)) # str 強制轉型
print('A is', fruit)    # 尾部有空白

A is apple
num is2
A is apple

In [ ]:
# 字串
animal = 'pig'
# 字串相接
animals = animal + 's'
print(animal, animals, animal+'s')
print("="*20)

ch = '*'
# 字串倍增
print(ch)
print(ch*10)
print("="*20)

# 字串取字
game = 'mario'
print(game[1])
print(game[0])
print("="*20)

# 字串切割
country = 'Taiwan'
print(country)
print(country[1:5]) # 從 1 ~ 4 的字

pig pigs pigs
====================
*
**********
====================
a
m
====================
Taiwan
aiwa

# List 串列

In [ ]:
# list 串列
# 初始 list
new_list = []

nums = [1,2,3,4,5]            # 都只能放整數
names = ['Adam','Ben','Denny']# 都只能放字串
floats = [1.4,1.8,1.6,13.4]   # 都只能放小數

print("="*30)
print(nums)
print(names)
print(floats)

==============================
[1, 2, 3, 4, 5]
['Adam', 'Ben', 'Denny']
[1.4, 1.8, 1.6, 13.4]

In [ ]:
# 串接
add_list = []
add_list.append(1)
add_list.append(2)
add_list.append(3)
add_list

[1, 2, 3]

# 字典 dictionary
* dict_name['key'] = value

In [ ]:
dic = {}
# 新增 key & value
dic['a'] = 10
dic['b'] = 20
dic['c'] = 30
print(dic)
print(dic['a'])
print(dic['b'])
print(dic['c'])

{'a': 10, 'b': 20, 'c': 30}
10
20
30

# 條件式判斷 if / else

In [ ]:
x = 10
if x > 20:
  print("x > 20")
elif x > 10:
  print("20 >= x > 10")
else:
  print("x <= 10")

<= 10

# 迴圈

In [ ]:
# 迴圈
for i in range(10):
  print(i, end=' ')
print()
name = 'name'
for ch in name:
  print(ch, end=' ')
print()
for i in range(len(name)):
  print(name[i], end=' ')
print()
nums = [10,20,30,40]
for i in range(len(nums)):
  print(nums[i], end=' ')
print()

0 1 2 3 4 5 6 7 8 9
n a m e
n a m e
10 20 30 40

# 函式

In [ ]:
def add(a, b):
  return a + b

c = add(10, 12)
print(c)

d = add(a = 10, b = 5)
print(d)

22
15

# 基本上只有這些是不夠的，可以自行去學習更多Python語法
* 如果遇到看不懂或不理解的第如果遇到看不懂或不理解的地方，請去Google